.skills{
	float: right;
  background-color: #cfc9c8;
  width: 20%;
  height: 100%;
}
.skills ul{
  list-style: none;
}

.skills li{
  transition: 0.6s;
  padding-top: 5px;
  padding-bottom: 5px;
}

.skills a{
  color: #000000;
}

.skills li:hover{
  background-color: #dcdce3;
  border-radius: 5px;
  font-size: 20px;
}

.skills h1:hover{
  cursor: none;
  background-color: #dcdce3;
  border-radius: 5px;
}